@charset 'utf-8';
/* 웹폰트 설정 */

/* reset */
body {
  font:normal 16px 'Roboto', sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
	/* box-sizing: border-box; */
}
li {list-style:none;}
a {text-decoration:none;}

/* 공통요소 */
.card{
	/* border: 1px solid red; */
	width: 280px;
	height: auto;
	border-radius: 8px;
	margin: 30px auto;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

/* photo */
.card > photo{
	width: 280px;
	height: 220px;
}
/* card 기본형 */
/* index */
.card >.index {
	width: 265px;
	height: 59px;
	margin: 0 7.5px;
	padding: 16px 10px;
	box-sizing: border-box;

	display: flex;
	align-items: center;
}
/* profile */
.card > .index > .profile{
	display: flex;
	align-items: center;
}
.card > .index > .profile img{
	width: 27px;
	height: 27px;
	margin-right: 3px;
}
.card > .index > .profile .name{
	
	margin: 0px 3px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;

	display: inline-block;
	
	color:black;

}
/* comment*/
.card > .index > .comment{
	width: 46px;
	height: 24px;
	padding: 2px 5px;
	margin: 0 3px;
	box-sizing: border-box;

	display: flex;
	align-items: center;
}
.card > .index > .comment > img{
	width: 20px;
	height: 20px;
	margin: 0px 2px;

}
.card > .index > .comment > span.comment_cnt{
	color: #000000;	
	margin: 0px 2px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;

	line-height: 14px;
	
}
/* heart */
.card > .index > .heart{
	width: 46px;
	height: 24px;
	padding: 2px 5px;
	margin: 0 3px;
	box-sizing: border-box;

	display: flex;
	align-items: center;
}
.card > .index > .heart > img{
	width: 20px;
	height: 20px;
	margin: 0px 2px;

}
.card > .index > .heart > span{
	color: #000000;	
	margin: 0px 2px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;

	line-height: 14px;
	
}
/* article */
.card > .article{
	width: 269px;
	margin: 0 5.5px;
	padding: 12px 10px ;
	box-sizing: border-box;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}
/* h1 */
.card > .article > h1 {
	color: #000000;

	margin: 5px 0;
	word-spacing: -3px;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;

}

/* .author */
.card > .article > div.author{
	color: #4F4F4F;
	margin: 5px 0px;

	
	font-size: 14px;
	line-height: 16px;
}
/* .content */
.card > .article > p.content{
	color: #333333;
	margin: 5px 0px;

	font-size: 12px;
	line-height: 14px;
}
/* title */
.card > .title{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	padding: 10px;
}
/* .tag */
.card > .title .tag{
	width: 49px;
	height: 22px;
	margin: 5px 0px;
	background: #27AE60;
	border-radius: 8px;	
	display: flex;
	justify-content: center;
	align-items: center;
}
/*.text */
.card > .title .tag .text{
	font-weight: bold;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
}
/* h1 */
.card > .title h1{
	color: #000000;
	margin: 5px 0px;
	
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;



}

/* span */
.card > .title span{
	color: #4F4F4F;
	margin: 5px 0px;

	font-size: 14px;
	line-height: 16px;
}

/* card avata */

/* card avata top */
